.brandcolor {
    color : #F54D8F;
 }

 .brandtwo {
    color : #645BC7;
 }

 .brandthree {
    color : #26DDC8;
 }

 .brandfour {
    color : #FBB943;
 }

 
 .brandfive {
   color : #AC6C84;
} 
 

.brandsix {
   color : #967DC4;
} 


.brandsix {
   color : #F9718D;
} 

.brandseven {
   color : #F4CC78;
} 



.brandButtonOne
{background-color: #26DDC8;
} 

.brandButtonTwo
{background-color: #F9718D;
} 




 .top-block{
      background-image: linear-gradient(to right #b6c7c5, #26DDC8);
    }


    .top-blocktwo{
      background-image: linear-gradient(#F9718D, #F54D8F);
    }


 
  